.App {
  text-align: center;
  
}
.signUp{
  background-color: aquamarine;
  width:50%;
  text-align: center;
  display: inline-block;
  margin: 10px;
}
.logIn{
  display: inline-block;
  background-color: coral;
  height:500px;
}

form{
 display:inline-block;
  width:100%;
  height:100px;
}
form label{
  display:inline-block;
  width:200px;
  margin:10px;
}
.ApplicationForm{
  background-color: chartreuse;
  display:inline-block;
  height:700px;
 
}
input{
  width:370px;
}
select{
  width:370px;
}
.hobi{
  width:100px;
}
.input{
  width:10px;
  margin:0px;
  
}
.navigation{
  text-align: center;
}
nav{
  display: Flex;
  flex-direction: row;
  background-color: darkcyan;
  font-size: 3rem;
  justify-content: space-evenly;
  border: 10px solid red;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  
}
nav:visited{
  color:chocolate;
}
nav:active{
  background-color: chartreuse;
}
